# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
eggs/
parts/
sdist/
var/
*.egg-info/
*.egg

# Virtual environment
venv/
env/
ENV/
.venv/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
*.cover
*.py,cover
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.coveragerc

# PyTest
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# OneDrive and mount points
mnt_*/
mnt_*/**

# Logs
*.log

# Access logs
access_log.csv

# Local sqlite database
tiering_metadata.db

# Local cloud simulation
mnt_cloud/